*{
  margin:0;
  padding: 0;
}
.shop1{
  position: relative;
  text-align: center;
  transition: 0.3s linear;
  background-color: #c7c7c709;
  width: 80%;
  margin: 0 auto;
  
  
}
.shoptxt{
  white-space:nowrap;
  text-align: center;
}
.shop1 img{
  width: 80%;
}
.shopnew{
  position: absolute;
  top: 0;
  left: 0;
 
  border-radius:40px;
  color: #fff;
  background-color: rgb(0, 140, 255);
  padding:5px 3px;
  font-size: 14px;
}
.shopheart{
  position: absolute;
 right: 0;
 top: 0;

 padding: 4px 7px;
 border-radius: 100px;
 border: 1px solid rgb(223, 223, 223);
 color: rgb(179, 179, 179);
 display: none;
}
.shopbuton {
  border:none;
  color:#fff;
  background-color:rgb(55, 55, 253) ;
  padding: 10px;
  width:100%;
  visibility: hidden;
 margin-top:20px
  

  
}
.shop1:hover .shopheart
{
  display: block;
}
.shop1:hover .shopbuton{
  visibility: visible;
;}
.shop1:hover .shopcolor{
 visibility: visible;
}
.shopcolor{
  margin-top: 20px;
  visibility: hidden;
}
.shopcolor1{
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background: #0734ffe8;
  padding: 5px;
  border: 1px solid rgb(17, 17, 255);
  box-shadow: 0 0 0 1px #226fff;
  margin:5px;
}
.shopcolor2{
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background: #f1edb3e8;
  padding: 5px;
  border: 1px solid rgba(217, 243, 187, 0.849);
  box-shadow: 0 0 0 1px #e9e5c4;
  margin:5px;
}
.shopcolor3{
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background:rgb(90, 90, 90);
  padding: 5px;
  border: 1px solid rgb(90, 90, 90);
  box-shadow: 0 0 0 1px rgb(90, 90, 90);
  margin:5px;
}
.shop1:hover .shopnew{
margin-left: -20px;
}
.shop1:hover{
  box-shadow: -1px -1px 5px 3px rgba(194, 194, 194, 0.75);
}
.shopcol{
  margin:0;
  padding: 0;
  text-align: center;
}
.shopcol11{
  transition: 2s;

}
.shopcatigories1{
  padding:10px;
  color:#7a7a7a;
  padding-left: 20px;
}
.shopcatigories1 input{
  
}
.shopcatigories2{
  text-align: center;
  width:100%;
  color:white;
  background-color: rgb(72, 60, 245);
  padding: 5px;
  margin:0;
}
.shopcat p{
  margin:14px;
}
.shopcat{
  background-color: #f7f7f7;
  margin-bottom: 50px;
  text-align: left;
}
.inputrange input{
  text-align: center;
  width: 180px;
  margin:20px;
  
}
.shopenterance{
  text-align: center;
  /* background: linear-gradient(90.21deg, #5dd9ff -5.91%, #0699cab4 111.58%); */
  height:200px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #f3f3f7;
opacity: 0.9;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ededf3 6px ), repeating-linear-gradient( #4591f755, #4591f7 );
}
.shopenterance p{
  color: #fff!important
}
.cart1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart2{
  display: flex;
  align-items: center;
  justify-content:center;
}
.cart3{
  border:1px solid rgb(180, 180, 180);
  width: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart3 button{
  border:none;
  padding: 5px;
  width: 33%;
}
.emptycart{
  color: white;
  padding: 15px 25px;
  background-color: #636363;
  text-align: center;
  width: 200px;
}
.ecart{
display: flex;
justify-content: center;
margin-top: 20px;
}
.filtp{
text-align: right;
border-bottom: 1px solid rgb(182, 182, 250);
padding: 10px 0;
margin :0 10px 0px 10px;
}
.filtrow{
  background-color: #c5eafc;
}
.shop1 img{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.filtp select{
  border: 2px solid #d6d6fa;
  border-radius: 20px;
  color: #0a6ea8;
  width: 90px;
  padding-left: 10px;
outline: none;}
.home2{
  background-image: url('./images/hometech.webp');
  background-size: cover cover;
  background-repeat: no-repeat;
  height: 100vh;

}
.home1{
  text-align: left;
  background:linear-gradient(#cfeefd9c,#8dd6f8cb) ;

}
.home1 h1{
  color: #01613c;
  margin-top: 100px;
  text-align: left;
  /* width: 50%; */
 
}
.home3{
  position: absolute;
  left: 20%;
  top:10%;
  text-align: left;
  
}
.home31{
  position: relative;
  text-align: center;
}
.home1 button{
  border: none;
  background-color: #226fff;
  color:white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.home4{
  text-decoration:line-through;
  color:rgba(253, 6, 6, 0.671);
}
.home5{
  color:rgb(109, 109, 109);
}
.shophome{
  color:rgb(68, 68, 68);
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #cfcfcf;
}
.delidiv{
  color:#636363;
  margin-left: 50px;

}
.del1 p{
  box-shadow: 1px 1px 1px 1.5px #a9c6fc;
  width: 80%;
  padding: 10px;
}
.del1 img{
margin-right: 10px;
margin-top: 10px;
}
.del{
  margin: 0 auto;
}
.rangesale input{
width: 90%;
background-color: rgb(53, 130, 247);
border-radius: 20px;
}
.head1{
  display: flex;
  justify-content: space-between;
}
.head3{
  text-align:center;
}
.head5{
  display: flex;
  color: #636363;
  justify-content: space-between;
}
.headcol{
  text-align:center;
  padding-top:10px ;
  box-shadow: 3px 2px 5px 3px #b4925d;
  height:100%;

  
}
.rangesale{
  margin: 15px 0 15px 0px;
}
.datehade{
  display:flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 10px;
}
.demo{
  border: 1px solid #636363;
  color: rgb(255, 255, 255);
  font-size: 24px;
  position: relative;
  background-color: #1081b6;
 
}
/* .demo::before{
  content: '';
  position:absolute;
  width: 1px;
  background: black;
  height: 2.3rem;
  left:33%;
  top:0;
}
.demo::after{
  content: '';
  position:absolute;
  width: 1px;
  background: black;
  height: 2.3rem;
  right:33%;
  top:0;
} */
.head8{
  border-bottom: 1px solid rgb(196, 195, 195);
  width: 86%;
 margin-left: 59px;
 /* margin-bottom: 20px; */
 display: flex;
 justify-content: left;
}
.head6{
  padding: 0;
  margin-bottom: 30px;
  transition: 0.3s ;
}
.head7{
  margin-right: 20px;
  padding-bottom: 10px;
  color: #555554;
  font-size: 25px;
  cursor: pointer;
}
.head7:hover{
  border-bottom: 3px solid rgb(89, 89, 219);

}
.head7:first-child{
  border-bottom: 3px solid rgb(89, 89, 219);

}
.item2{
  background-color: #f1fbfff3;
  padding: 20px;
  height: 130px;
}
.item1{
  padding: 20px;
  background-color: #ffffff;
  height: 130px;

}
.customLeftArrow{
  position: absolute;
  left: 0;
  top:0;
}
.mac1{
  text-align: left;
  margin-top: 100px;
  /* margin-left: 50px; */
}
.mac1 p{
  color: #555554;
}
.mac1 button{
  color:white;
  background-color: #1081b6;
  padding: 10px 25px;
  border: none;
  margin-top: 50px;
}
.mac{
  padding: 80px;
  /* background:linear-gradient(#cfeefd9c,#8dd6f8cb) ; */
  background: conic-gradient(from 240deg at 103% 1%, #eaf2f4, #c3d4f3)

}
.del14{
display: flex;
text-align: left;
box-shadow: 1px 1px 1px 1.5px #a9c6fc;
padding: 10px;
}
.del12 img{
  width: 80%;
}
.del13{
  color:#555554;

}
.del12{
  margin-bottom: 10px;
}
.del11{
  text-align: center;
}
.trend11{
  text-align: left;
  color: #003b42;
  width: 80%;
  margin: 30px;
}
.trend12{
  background:linear-gradient(#cfeefd9c,#8dd6f8cb) ;
}
.pop1{
  text-align: left;
  width: 60%;
  margin-left: 10px;
  margin-top: -10px;

}

.footer{
  text-align: center;
  background-color: #c7daff;
  padding-top: 50px;
  margin: 0 auto;
  margin-top: 100px;
}
.footer1 h4 , p{
  color:rgb(88, 88, 88);
  text-align: left;
  
}
.footer1{
  border-bottom: 1px solid #c0c0c0;
}
.footer1 input{
  width: 60%;
  padding: 14px;
  outline: none;

}
.footer1 button{
  padding:15px;
  color:rgb(255, 255, 255);
  background-color: rgb(201, 201, 201);
  border-color: #bdbdbd;
}
.icon{
  color: white;
  margin:5px;
  font-size: 25px;
}
.facebok{
  transition:transform 1s;

}
.icon:hover .facebok{
 transform: rotateY(180deg);
 color: red;
}
.footer3 h4{
  color:rgb(27, 27, 27);
}
.footer3{
  text-align:left;
  padding-top: 20px;
  margin: 0 auto;
}
.footer4 p{
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #c0c0c0;
  margin: 20px;

}
.oneh1{
  color: #ffffff;
  padding: 20px;
  text-shadow: -5px 0px 0px rgba(0,0,0,0.45);
  font-family: cursive;
}
.oneh2{
 margin-left: 20px;
}
.navbar{
  /* background-color: #caedfd; */
  font-size: 19px!important;
  /* height: 100px!important; */
  padding: 20px!important;
  background: conic-gradient(from 45deg at 57% 1%, #eaf2f4, #c3d4f3)
}
.nav1{
  color: #fcfdfd!important;
  padding: 20px;
  font-weight: 900;
  font-family: cursive;
  font-size: 35px!important;
  text-shadow: -5px 0px 0px rgba(0,0,0,0.45);
}.homecontainer{
  position: relative;
}
.scroltop{
  position: fixed;
  bottom: 13%;
  right: 5%;
  z-index: 2;
  color:rgb(94, 94, 94);
  border-radius: 50%;
  font-size: 26px;
  border: none;
  padding: 0px 7px 5px 7px;
  animation: myan 3s infinite;
  display: none;
}
@keyframes myan {
  50%{
    bottom:15%
  }
  50%{
    color:#5dd0fd
  }
  
}
/* contact */
.contactus{
  text-align: center;
  background-color: #90dbfd;
  color:white;
  padding: 60px;
}
.contactinput5{
  display: flex;
}
.contactinput input{
  margin: 10px;
  padding: 10px;
  outline: none;
}
.inputsearch{
  position: absolute;
  left:0;
  bottom:-51px;
  background-color: rgb(255, 255, 255);
 color: rgb(0, 0, 0) !important;
  z-index: 10000;
  width: 90%;
padding: 7px;
margin: 0;
display:none;
transition: 0.5s;
text-align:right;

}
.contacttextarea textarea{
  width: 95%;
  height: 50%;
}
.contactbutton{
  text-align: right;
  margin-right: 20px;
}
.contactbutton button{
padding:15px;
color:white;
background-color: rgb(175, 214, 250);

}
/* blog */
.blogentry{
  text-align: center;
  
  color: white;
  padding: 30px;
  margin: 0 auto;
  background:linear-gradient(#b6e2f89c,#60bfeecb) ;

}
@keyframes myanime{
  50%{
    background: linear-gradient(  rgb(2, 2, 68),rgb(20, 188, 255));
  }
  50%{background: linear-gradient( rgb(81, 81, 250),rgb(9, 170, 135));}

}
.blogentry p{
  text-align: center;
}
.blogcol1 p{
  color:#4a4a4b;
}
.blogc5{
text-align: center;
margin: 0 auto;
border: 1px solid #e0e0e0;

}
.blo img{
  background-position: center center;
  background-size: cover;
  width: 100%;
}
.blogc3{
  border: 1px solid #888888;
  text-align: center;
  background-color: white;
}
.blogc3 input{
  outline: none;
  border:none;
  color:#000000;
  width: 70%;
  padding-left: 10px;

}
.blogc3 button{
  /* ;
  background-color: rgb(255, 73, 73); */
  color:white;
  background-color: rgb(197, 178, 143);
  border-color: #8a8989;
  padding: 10px 15px;
  border: none;
width: 30%;
}
.blogc2{
  background-color: #fcfcfc;
  margin: 0 auto;
}
.blogcrow1{
  text-align: center;
}
.bloc1{
  background-color: #fcfcfc;
  padding: 20px;
}
.bloc1 p{
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 10px;
}
.bloc2{
  display: flex;
  margin: 0 0 5px 25px;
}
.bloc2 p{
  color: #4a4a4b;
  margin-left: 20px;
}
.bloc3{
  background-color: #fcfcfc;
  
}
.blocinsta{
  background-color: #fcfcfc;

}
.pagin{
margin: 0 auto;
text-align: right;
}
.newsrow{
  background-color: #fcfcfc;

}
.newsleterinput input{
border: 1px solid #4a4a4b;
outline: none;
color:black;
padding: 10px;
width: 80%;

}
.newsleterbtn{
  border: none;
  background-color: rgb(250, 89, 89);
  color: white;
  padding: 10px 10px;
  width: 80%;
}
.newsleterbtn:hover{
  background: none;
  border: 1px solid #4a4a4b;
  color: #1f1f1f;
}
.carticn{
  color:rgb(0, 0, 0);
  font-size: 48px;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 5px;
}
.cartnum1{
  position:relative;
  margin-right: 10px;
}
.cartnum{
  position: absolute;
  right: -8px;
  top:30%;
  background-color: blue;
  border-radius: 50%;
  padding: 1px 5px;
  color: #fff;
}
/* backcolor .cartback{
background-color: #f3f3f7;
opacity: 0.7;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e7e7f4 6px ), repeating-linear-gradient( #4591f755, #4591f7 );
} */

@keyframes load {
  0%{
      opacity: 0.08;
/*         font-size: 10px; */
/* 				font-weight: 400; */
      filter: blur(5px);
      letter-spacing: 3px;
      }
  100%{
/*         opacity: 1; */
/*         font-size: 12px; */
/* 				font-weight:600; */
/* 				filter: blur(0); */
      }
}

.animate {
display:flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin: auto;
/* 	width: 350px; */
/* 	font-size:26px; */
font-family: Helvetica, sans-serif, Arial;
animation: load 5.2s infinite 0s ease-in-out;
animation-direction: alternate;
text-shadow: 0 0 1px white;
color: #fff;
}
.audo{
  display:none;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  color:black;
  position: absolute;
  top:25%;
  left: 50%;
  transform: translate(-50%,50%);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(61, 61, 61);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.loa{
  display: flex;
  text-align: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  position: relative;
 background:linear-gradient(rgb(225, 225, 247),rgb(234, 234, 255)); 
  
}
@media only screen and (max-width: 900px){
  .shop1 img{
    width: 70%;
  }
  .head8{
    margin:0;
    padding: 0;
    width: 100%;
    
  }
  .head7{
    margin-right: 10px;
    font-size: 20px;
  }
  .shop1 {
    width: 60%;
  }
  .shop1 img{
    width:50%;
  }
}